<div class="cart">
  <a routerLink="/cart">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <span class="count">{{items.length}}</span>
  </a>
  <span class="subtotal">{{ total | currency:"UAH":"symbol" }}</span>
  <div class="toolbar-dropdown">
    <div *ngIf="items.length; else noItemsInCart">
      <div *ngFor="let item of items" class="dropdown-product-item">
        <span class="dropdown-product-remove" (click)="onRemoveItem($event, item)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
        <a class="dropdown-product-thumb" [routerLink]="['/products/item', item.product._id]">
          <img src="https://tab.mine.in.ua/uploads/{{item.product.imageURLs[0]}}" alt="{{item.product.nameOfProduct}}">
        </a>
        <div class="dropdown-product-info">
          <a class="dropdown-product-title"
             [routerLink]="['/products/item', item.product._id]">{{item.product.nameOfProduct}}</a>
          <span class="dropdown-product-details">{{item.amount}} x <span><app-price
            [product]="item.product"></app-price></span></span>
        </div>
      </div>
    </div>
    <ng-template #noItemsInCart>
      <div><p>
        Ваш кошик порожній.
      </p></div>
    </ng-template>
    <div class="toolbar-dropdown-group price-inform">
      <div class="column">
        <span class="text-lg">До сплати:</span>
      </div>
      <div class="column text-right">
        <span class="text-lg text-medium" [innerHTML]="total | currency:'UAH':'symbol'">&nbsp;</span>
      </div>
    </div>
    <div class="toolbar-dropdown-group button-section">
      <a class="btn btn-sm btn-block btn-secondary" routerLink="/cart">Переглянути кошик</a>
      <a class="btn btn-sm btn-block btn-success" routerLink="/checkout">Оформити замовлення</a>
    </div>
  </div>
</div>
