<app-page-title title="Каталог" [children]="[{title: title}]"></app-page-title>

<!-- Page Content-->
<div class="container padding-bottom-3x mb-1">
  <!-- Shop Toolbar-->
  <div class="shop-toolbar padding-bottom-1x mb-2">
    <div class="column">
      <div class="shop-sorting">
        <label for="sorting">Сортувати:</label>
        <select class="form-control" id="sorting" #selectSort (change)="onSort(selectSort.value)">
          <option value="date:reverse" [selected]="(uiService.sorting$ | async) === 'date:reverse'">Найновіщі</option>
          <option value="price" [selected]="(uiService.sorting$ | async) === 'price'">Віз низької ціни - висщої</option>
          <option value="price:reverse" [selected]="(uiService.sorting$ | async) === 'price:reverse'">Віз висщої ціни -
            низької
          </option>
          <option value="name" [selected]="(uiService.sorting$ | async) === 'name'">А - Я</option>
          <option value="name:reverse" [selected]="(uiService.sorting$ | async) === 'name:reverse'">Я - А</option>
        </select>
        <span class="text-muted">Показано:&nbsp;</span>
        <span>1 - 12 товари</span>
      </div>
    </div>
    <div class="column">
      <a *ngIf="user && user.roles.admin" class="btn btn-primary mt-0 mr-0 align-top" routerLink="/admin/add" href="">
        <i class="icon-plus"></i>
        <span>Додати товар</span>
      </a>
      <div class="shop-view">
        <a href="" class="grid-view" [ngClass]="{active: (uiService.displayMode$ | async) === 'grid'}"
           (click)="onDisplayModeChange('grid', $event)">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <a href="" class="list-view" [ngClass]="{active: (uiService.displayMode$ | async) === 'list'}"
           (click)="onDisplayModeChange('list', $event)">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
  </div>

  <div class="wrapper-contaiter">
    <div class="filters" *ngIf="filters">
      <div class="type-coffee" *ngIf="filters.type_coffee.length">
        <label class="filter-title">Тип кави</label>
        <div class="form-check" *ngFor="let filter of filters.type_coffee; let i = index">
          <input type="checkbox"
                 class="form-check-input"
                 id="{{ 'type_coffee' + i }}"
                 [value]="filter"
                 (change)="onChange('type_coffee', filter, $event)"
                 [checked]="isChange('type_coffee', filter)"
          >
          <label class="form-check-label" for="{{ 'type_coffee' + i }}">
            {{ filter }}
          </label>
        </div>
      </div>
      <div class="roast-degree" *ngIf="filters.roast_degree.length">
        <label class="filter-title">Обжарка</label>
        <div class="form-check" *ngFor="let filter of filters.roast_degree; let i = index">
          <input type="checkbox"
                 class="form-check-input"
                 id="{{ 'roast_degree' + i }}"
                 [value]="filter"
                 (change)="onChange('roast_degree', filter, $event)"
                 [checked]="isChange('roast_degree', filter)"
          >
          <label class="form-check-label" for="{{ 'type_coffee' + i }}">
            {{ filter }}
          </label>
        </div>
      </div>
      <div class="coffee-variety" *ngIf="filters.coffee_variety.length">
        <label class="filter-title">Сорт кави</label>
        <div class="form-check" *ngFor="let filter of filters.coffee_variety; let i = index">
          <input type="checkbox"
                 class="form-check-input"
                 id="{{ 'coffee_variety' + i }}"
                 [value]="filter"
                 (change)="onChange('coffee_variety', filter, $event)"
                 [checked]="isChange('coffee_variety', filter)"
          >
          <label class="form-check-label" for="{{ 'coffee_variety' + i }}">
            {{ filter }}
          </label>
        </div>
      </div>

      <div class="type-tea" *ngIf="filters.type_tea.length">
        <label class="filter-title">Тип чаю</label>
        <div class="form-check" *ngFor="let filter of filters.type_tea; let i = index">
          <input type="checkbox"
                 class="form-check-input"
                 id="{{ 'type_tea' + i }}"
                 [value]="filter"
                 (change)="onChange('type_tea', filter, $event)"
                 [checked]="isChange('type_tea', filter)"
          >
          <label class="form-check-label" for="{{ 'type_tea' + i }}">
            {{ filter }}
          </label>
        </div>
      </div>
      <div class="type-leaf" *ngIf="filters.type_leaf.length">
        <label class="filter-title">Тип листа</label>
        <div class="form-check" *ngFor="let filter of filters.type_leaf; let i = index">
          <input type="checkbox"
                 class="form-check-input"
                 id="{{ 'type_leaf' + i }}"
                 [value]="filter"
                 (change)="onChange('type_leaf', filter, $event)"
                 [checked]="isChange('type_leaf', filter)"
          >
          <label class="form-check-label" for="{{ 'type_leaf' + i }}">
            {{ filter }}
          </label>
        </div>
      </div>
      <div class="packaging" *ngIf="filters.packaging.length">
        <label class="filter-title">Тип упаковки</label>
        <div class="form-check" *ngFor="let filter of filters.packaging; let i = index">
          <input type="checkbox"
                 class="form-check-input"
                 id="{{ 'packaging' + i }}"
                 [value]="filter"
                 (change)="onChange('packaging', filter, $event)"
                 [checked]="isChange('packaging', filter)"
          >
          <label class="form-check-label" for="{{ 'packaging' + i }}">
            {{ filter }}
          </label>
        </div>
      </div>
      <div class="type-taste" *ngIf="filters.type_taste.length">
        <label class="filter-title">Смак</label>
        <div class="form-check" *ngFor="let filter of filters.type_taste; let i = index">
          <input type="checkbox"
                 class="form-check-input"
                 id="{{ 'type_taste' + i }}"
                 [value]="filter"
                 (change)="onChange('type_taste', filter, $event)"
                 [checked]="isChange('type_taste', filter)"
          >
          <label class="form-check-label" for="{{ 'type_taste' + i }}">
            {{ filter }}
          </label>
        </div>
      </div>
    </div>
    <div class="products-wrapper" *ngIf="products; else noProducts">
      <div class="products-list" [ngClass]="{'loading' : productsLoading}">
        <!-- Products Grid Mode View -->
        <div class="row" *ngIf="(uiService.displayMode$ | async) === 'grid'">
          <app-products-list-item ngClass="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of productsPaged"
                                  [product]="product"
                                  [displayMode]="(uiService.displayMode$ | async)">
          </app-products-list-item>
        </div>

        <!-- Products List Mode View-->
        <div class="row" *ngIf="(uiService.displayMode$ | async) === 'list'">
          <app-products-list-item ngClass="col-12" *ngFor="let product of products" [product]="product"
                                  [displayMode]="(uiService.displayMode$ | async)">
          </app-products-list-item>
        </div>
      </div>


      <!-- Pagination-->
      <nav *ngIf="pager.pages && pager.pages.length && (uiService.displayMode$ | async) ==='grid'" class="pagination">
        <div class="column text-left hidden-xs-down">
          <a class="btn btn-outline-secondary btn-sm" [ngClass]="{disabled:pager.currentPage === 1}"
             (click)="setPage(pager.currentPage - 1)"><i class="icon-arrow-left"></i>&nbsp;Попередня
          </a>
        </div>
        <div class="column text-center">
          <ul class="pages">
            <li *ngFor="let page of pager.pages" [ngClass]="{active: pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
            </li>
          </ul>
        </div>
        <div class="column text-right hidden-xs-down">
          <a class="btn btn-outline-secondary btn-sm" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
             (click)="setPage(pager.currentPage + 1)">Наступна&nbsp;
            <i class="icon-arrow-right"></i>
          </a>
        </div>
      </nav>
    </div>
    <ng-template #noProducts>
      <div class="products-wrapper" *ngIf="!products && !productsLoading">
        По вашому запиту нічого не знайдено
      </div>
    </ng-template>
  </div>
</div>
