<app-page-title title="Кошик" [children]="[{title: 'Кошик'}]"></app-page-title>


<div class="container padding-bottom-3x mb-2">
  <div class="card text-center">
    <div class="card-body padding-top-2x">
      <h3 class="card-title">Дякуємо за ваше замовлення!</h3>
      <p class="card-text">Ваше замовлення розміщено та буде оброблено якнайшвидше.</p>
      <p class="card-text">Незабаром ви отримаєте електронний лист із підтвердженням вашого замовлення.
      </p>
      <div class="padding-top-1x padding-bottom-1x">
        <a class="btn btn-outline-secondary" routerLink="/home">На головну</a>
      </div>
    </div>
  </div>
</div>
