<h3 class="widget-title">{{ widgetTitle }}</h3>
<div *ngIf="products" class="widget widget-featured-products">

<!--  <div class="product-wrapper">-->
    <div *ngFor="let product of products" class="entry">
      <div class="entry-thumb">
        <a routerLink="/products/item/{{ product._id }}">
          <img src="https://tab.mine.in.ua/uploads/{{ product.imageURLs[0] }}" alt="{{ product.nameOfProduct }}">
        </a>
      </div>
      <div class="entry-content">
        <h4 class="entry-title">
          <a routerLink="/products/item/{{ product._id }}">{{ product.nameOfProduct}}</a>
        </h4>
        <span class="entry-meta"><app-price [product]="product"></app-price></span>
      </div>
<!--    </div>-->
  </div>

</div>
