
<aside class="sidebar">
  <div class="padding-top-2x hidden-lg-up"></div>
  <!-- Order Summary Widget-->
  <section class="widget widget-order-summary">
    <h3 class="widget-title">Разом</h3>
    <table class="table">
      <tr>
        <td>Товарів на сумму:</td>
        <td class="text-medium">{{cartSubtotal | currency:"UAH":"symbol"}}</td>
      </tr>
      <tr>
        <td>Вартість доставки:</td>
        <td class="text-medium">{{shipping | currency:"UAH":"symbol"}}</td>
      </tr>
      <tr>
        <td>До сплати:</td>
        <td class="text-lg text-medium">{{orderTotal | currency:"UAH":"symbol"}}</td>
      </tr>
    </table>
  </section>
</aside>

